<p>
  <b>Name:</b>
  <%=h @project.name %>
</p>

<p>
  <b>User:</b>
  <%=h @project.user_id %>
</p>

<% if @project.permitted_to?([:read,:read_value]) %>
<p>
  <b>Value:</b>
      <%= h @project.value %>
</p>
<% end %>


<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>